type tad_socket, file_type;
type ta_data_file, file_type;
type sysdbg_socket, file_type;
type capi2test_exec, file_type, exec_type;
type sysdbg_service_exec, file_type, exec_type;
type key_sleep_vibrate_exec, file_type, exec_type;
type nfctagmodify_exec, file_type, exec_type;
type idd_exec, file_type, exec_type;
type crashmonitorns_exec, file_type, exec_type;
type chargemon_exec, file_type, exec_type;
type fixup_crashdumps_exec, file_type, exec_type;
type top_sysmonitor_exec, file_type, exec_type;
type sysmonitor_data_file, file_type;
type sysdbg_exec, file_type, exec_type;
type chargemon_log_file, file_type;
type crashdata_data_file, file_type;
type sysfs_vibrator_writable, file_type;
type sysfs_fb_writable, file_type;
type sysfs_sensors_writable, file_type;
type sysfs_usb_writable, file_type;
type sysfs_backlight_writable, file_type;
type sysfs_battery_writable, file_type;
type sysfs_power_writable, file_type;
